*:focus {
    outline: none;
  }
  
  body {
    background-color: #efefef;
    padding: 70px;
    font-family: "Open Sans", "Arial", snas-serif;
  }
  
  .input-group {
    display: block;
    width: 441px;
    max-width: 100%;
    height: 82px;
    border: 0;
    background-color: #ffffff;
    border-bottom-left-radius: 41px;
    border-bottom-right-radius: 41px;
    border-top-left-radius: 41px;
    border-top-right-radius: 0;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
    margin-bottom: 22px;
    position: relative;
    font-size: 17px;
    color: #a7b4c1;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
      box-shadow 0.1s ease-in-out;
  }
  
  .input-group:hover {
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
  }
  
  .input-group input {
    position: absolute;
    border: 0;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    height: 65px;
    width: 100%;
    padding: 0 53px;
    box-sizing: border-box;
    z-index: 3;
    display: block;
    color: #1a6fc4;
    font-size: 17px;
    font-family: "Oxygen", sans-serif;
    transition: top 0.1s ease-in-out;
  }
  
  .input-group input::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  
  .input-group input:focus,
  .input-group input:not(:placeholder-shown) {
    top: 17px;
  }
  
  .input-group label {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 53px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    cursor: text;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    bottom: 20px;
    font-size: 13px;
    opacity: 0.7;
  }
  
  .req-mark {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 33px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    color: #e0e0e0;
    font-family: "Ubuntu", sans-serif;
  }

  :root {
    --white: #ffffff;
    --gray: #ebebeb;
    --dark-gray: #A1A1A1;
    --blue: #012f51;
    --yellow: #f7a41d;
    --button-width: 63px;
    --button-height: 37.5px;
    --toggle-diameter: 30px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 30px;
  }

  .toggle-span {
    background-color: var(--blue);
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: .3s all ease-in-out;
  }
  
  .toggle-span::after {
    content: '';
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, .10);
    transition: .3s all ease-in-out;
  }
  
  .checkbox-input:checked + span {
    background-color: var(--yellow);
  }
  
  .checkbox-input:checked + span::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, .10);
  }
  
  .checkbox-input {
    display: none;
  }
  
  .checkbox-input:active + span::after {
    width: var(--toggle-wider);
  }
  
  .checkbox-input:checked:active + span::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
  }

  .checkbox-label {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      width: 200px;
      color: var(--dark-gray);
      flex-shrink: 0;
  }

  .toggle-text {
      margin-left: 4px;
  }
  
  @media(prefers-color-scheme: dark) {
    span {
      background-color: var(--blue);
    }
  }